.bill-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures full viewport height */
    /* background-color: #f0f0f0; Optional, just for better visibility */
}

.bill-container {
    width: 50%;
    height: 80vh;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1); /* Optional, adds some depth */
    padding: 1vw;
    display: flex;
    flex-direction: column;
}
.company-heading{
    width: 100%;
    height: 10%;
    /* background-color: black; */
    text-align: center;
}
.heading{
    color: orangered;
}
.listOfItems{
    padding-top: 2vw;
    width: 100%;
    height: 60%;
    overflow: auto;
    /* background-color: aqua; */
    color: black;

}
.totalbill{
    width: 100%;
    height: 10%;
    /* background-color: blue; */
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-div{
    width: 100%;
    height: 20%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    /* background-color: black; */
    display: flex;
    align-items: center;
    gap: 8vw;
    
}
.email-input{
    height: 2vw;
    border: none;
    min-width: 20vw;
    padding: 10px;
    border-radius: 2px;
    /* background-color: aqua; */
    box-shadow: 0px 4px 10px rgba(1, 0, 0, 0.1);
}

.completeButton{
    padding: 1vw;
    min-width: 10vw;
    /* font-size: 1vw; */
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    color: black;
    border: none;
}
.completeButton:hover{
    color: white;
    background-color: orangered;
}


.listItem{
  display: flex;  
  
  justify-content: space-around;
}
.ul{
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}
