.menu-heading-div{
    font-size: 1.5vw;
    height: 10%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-product_colletion-div{
    height: 90%;
    padding: 10px;
  
}
.waffers-parent-div{
    /* border: 1px solid white; */
}
.waffers-heading h3{
    margin-left: 1vw;
}
.waffers-section {
    padding: 1vw;
    /* border: 1px solid white; */
    display: flex;   
    /* flex-direction: column;        Ensure the items are in a row */
    overflow-x: auto;        /* Enable horizontal scrolling */
    gap: 1vw;                /* Add spacing between cards (optional) */
    scroll-snap-type: x mandatory; /* Optional: Smooth scrolling */
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS devices */
    scrollbar-width: none;
}